/* 
    Created on : 17-set-2017, 15.47.42
    Author     : rober
*/
body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background-color: #bbdefb;
}

main {
    flex: 1 0 auto;
}

.container.login {
    margin: 0 auto;
    max-width: 1280px;
    width: 50%;
}

.container.signin {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
}

@media only screen and (max-width: 650px) {
    .container.login {
        width: 70%;
    }
    .container.signin {
        width: 87%;
    }
}
@media only screen and (max-width: 450px) {
    .container.login {
        width: 95%;
    }
    .container.signin {
        width: 95%;
    }
}


/* FORM */
/* label focus color */
.input-field input:focus + label {
    color: #0d47a1 !important;
}
/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #0d47a1 !important;
}
/* label color */
.input-field label {
    color: #2196f3;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #0d47a1;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #01579b;
    box-shadow: 0 1px 0 0 #01579b;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #c62828;
    box-shadow: 0 1px 0 0 #c62828;
}
/* valid color */
.input-field input[type=email].valid {
    border-bottom: 1px solid #01579b;
    box-shadow: 0 1px 0 0 #01579b;
}
/* invalid color */
.input-field input[type=email].invalid {
    border-bottom: 1px solid #c62828;
    box-shadow: 0 1px 0 0 #c62828;
}
/* valid color */
.input-field input[type=password].valid {
    border-bottom: 1px solid #01579b;
    box-shadow: 0 1px 0 0 #01579b;
}
/* invalid color */
.input-field input[type=password].invalid {
    border-bottom: 1px solid #c62828;
    box-shadow: 0 1px 0 0 #c62828;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #0d47a1;
}

/* RADIOBUTTON */
/* colore radiobt non checked */
[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
    border: 2px solid #2196f3
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #0d47a1
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #0d47a1
}

[type="radio"].with-gap:disabled:checked+label:before {
    border: 2px solid rgba(0, 0, 0, 0.42)
}

[type="radio"].with-gap:disabled:checked+label:after {
    border: none;
    background-color: rgba(0, 0, 0, 0.42)
}

[type="radio"]:disabled:not(:checked)+label:before, [type="radio"]:disabled:checked+label:before {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.42)
}

[type="radio"]:disabled+label {
    color: rgba(0, 0, 0, 0.42)
}

[type="radio"]:disabled:not(:checked)+label:before {
    border-color: rgba(0, 0, 0, 0.42)
}

[type="radio"]:disabled:checked+label:after {
    background-color: rgba(0, 0, 0, 0.42);
    border-color: white
}

/*messaggio di errore*/
div.error {
    position: relative;
    top: -21px;
    left: 45px;
    height: 0px;
    width: 80%;
    color: #c62828;
    font-family: "Roboto";
    font-size:12px;
}

/*colori lista select*/
.select-wrapper ul li > span {
    color: #2196f3;
}

/*DA SPOSTARE*/
.container.small {
    margin: 0 auto;
    max-width: 1280px;
    width: 93%
}
