/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-set-2017, 15.26.37
    Author     : rober
*/

    body {
      display: flex;
      flex-direction: column;
      font-family: 'Open Sans', sans-serif;
      background-color: rgb(239, 247, 252);
    }

    main {
      flex: 1 0 auto;
    }

    .login {
      width: 35%;
    }

    @media (max-width: 700px) {
      .login {
        width: 35%;
      }
      .login {
        width: 90%;
      }
    }
    /* label focus color */
 .input-field input:focus + label {
   color: white !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid white !important;
 }
 /* label color */
 .input-field label {
   color: white;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: white;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid white;
   box-shadow: 0 1px 0 0 white;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid white;
   box-shadow: 0 1px 0 0 white;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid white;
   box-shadow: 0 1px 0 0 white;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: white;
 }